/* RegisterForm.css */
.registration-card {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }
  
  .registration-card h1 {
    margin: 0 0 20px 0;
    text-align: center;
  }
  
  .registration-card a {
    color: blue;
    text-decoration: none;
  }
  
  .registration-card a:hover {
    text-decoration: underline;
  }
  
  .registration-card label {
    display: block;
    margin-bottom: 10px;
  }
  
  .registration-card input[type="text"],
  .registration-card input[type="email"],
  .registration-card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-card button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registration-card button[type="submit"]:hover {
    background-color: #0056b3;
  }
  