
    #form_wrapper label{
        font-size: 20px;
        
    }
    #form_wrapper  input, #message{
        font-size: 20px;
        padding: 12px;
        border-radius: 7px;
        border: 1px solid #a7a7a7;
        color: #616161;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    
    #form_wrapper button{
        padding: 10px 10px;
        background-color: #25645d;
        color: white;
        font-size: 24px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        text-align: center;
        margin-left: 35px;
    }

    

    #success-message {
        font-size: 20px;
        color: green;
        margin-bottom: 18px;
    }

    #contactButton{
        padding: 10px 0;
        background-color: red;
    }
#form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: fit-content;
    margin: 120px auto;
    padding: 89px;
    border: 1px solid #a7a7a7;
    border-radius: 25px;

}


form label {
    font-size: 2rem;
}

