

    .search_container{
        display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin-top: 30px;
    }

    .search_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 110px auto;
        width: 37%;
    }
    .search_input{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #000;
    outline: none;
    font-size: 18px;

}
.search_btn_fuzzy{
    padding: 15px 13px;
    border-radius: 8px;
    border: 1px solid #000;
    /* background-color: #000; */
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;

}