.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 28px;
}

.hero-wrapper {
  background-color: #f5f2ea;
    padding: 40px 70px 0 70px;
    width: 100%;
    position: relative;
}

.hero-content {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 90vh;
}

.hero-text-content {
  margin-top: 147px;
}
/* 
.hero-image-wrapper {
  position: absolute;
    top: 0;
    right: -254px;
    width: 68%;
    bottom: 0;
  
} */

.hero-image {
  aspect-ratio: 0.91;
    object-fit: cover;
    width: 42%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero-title {
  color: rgba(26, 39, 35, 0.9);
  text-transform: capitalize;
  font: 700 81px / 1.2 Raleway, sans-serif;
  text-align: left;
}

.hero-subtitle {
  color: rgba(0, 0, 0, 0.65);
  font-family: Rambla, sans-serif;
  margin-top: 71px;
  font-size: 25px;
}

.hero-button-group {
  display: flex;
  margin-top: 39px;
  gap: 17px;
  color: #000;
  font-weight: 400;
}

.hero-button {
  font-family: Rambla, sans-serif;
  border-radius: 18px;
  padding: 20px 50px;
  white-space: nowrap;
  cursor: pointer;
}

.hero-button.primary {
  background-color: #ffb769;
  border: none;
}

.hero-button.secondary {
  background-color: #f5f2ea;
  border: 1px solid rgba(255, 183, 105, 1);
}

@media (max-width: 1200px) {
  .hero-section {
      margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .hero-section {
      margin-top: 80px;
  }
}

@media (max-width: 576px) {
  .hero-section {
      margin-top: 80px;
  }
}

.testimonials_container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.testimonials_card_container{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 72%;
    margin: 0 auto;
}

.testimonials {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.testimonials h2 {
  color: #333;
  font-size: 39px;
  margin-bottom: 20px;
}
