
#course_section_wrapper{
    margin: 100px auto;
    width: 95%;

}
.course_header_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;

}
.course_header_wrapper span{
    font-size: 2rem;
    color: black;
    cursor: pointer;

}
#top_subscribed_courses_heading{
    text-align: left;
    margin: 20px;
    font-size: 32px;

}
#video_cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
    #course_section_wrapper {
        margin: 10px;
    }
    #top_subscribed_courses_heading {
        margin: 10px;
    }
    #video_cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}
