
.card {
    overflow: hidden;
    max-width: 70%;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    height: 73vh;
    
}

.video-thumbnail {
    position: relative;
}

.video-thumbnail:hover img {
    filter: blur(4px);
    opacity: 0.8;
}

.video-thumbnail:hover .watch-button {
    display: block;
}

#heading
 {
    color: #333;
    font-size: 27px;
    font-weight: 700;
}
#description{
    color: #333;
    font-size: 18px;
    font-weight: 500;
}


.view-details-link {
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .card {
        margin: 10px;
    }
}
