.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .contact-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .contact-table th, .contact-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .contact-table th {
    background-color: #f2f2f2;
  }
  
  .contact-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .contact-table tbody tr:hover {
    background-color: #ddd;
  }
  