/* CoursesTable.css */

.courses_table_container {
  margin: 0 auto;
  width: 90%;
  overflow-x: scroll; 
  }
  
  .add_button {
    background-color: #1C5739; /* Green background color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px; /* Add some margin at the bottom */
    cursor: pointer;
  }
  
  .add_button:hover {
    background-color: #45a049; /* Darker green hover color */
  }
  
  #courses_table {
    width: 100%; /* Table takes up full width of its container */
    border-collapse: collapse; /* Remove default spacing between table cells */
  }
  
  
  #courses_table th {
    background-color: #1C5739;
    height: 37px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

#courses_table th, #courses_table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    list-style-type: none;
}


  
  #courses_table tbody tr:hover {
    background-color: #ddd;
  }
  