/* UsersTable.css */

#users_table_container {
  overflow-x: scroll;
  width: 90%; /* Enable horizontal scrolling for the table */
  }
  
  #users_table {
    width: 100%; /* Table takes up full width of its container */
    border-collapse: collapse; /* Remove default spacing between table cells */
  }
  
  
  #users_table th {
    background-color: #1C5739;
    color: white;
    font-size: 16px;
}

#users_table th, #users_table td {
    padding: 14px 19px;
    border: 1px solid #ddd;
    text-align: left;
    list-style-type: none;
}
#users_table td{
    
  font-size: 14px;
}
#users_table td ul li{
    list-style-type: none;
}

  #users_table tbody tr:hover {
    background-color: #ddd; /* Hover effect for table rows */
  }
  